html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* body > div {
	width: 100%;
} */

div#EWK {
	height: 200px;
}
div#editor_container {
	height: calc(100% - 200px);
	padding: 20px;
	overflow-y: auto;
	position: relative;
}

div#ewk_container, div#ewk_textcontainer {
	height: 100%;
}

div#json_button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
	z-index: 1000;
	display: none;
}

input[type='file'] {
	display: none;
}

div#schema_select {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;
	visibility: hidden;
}

div#schema_select div {
	cursor: pointer;
}
div#schema_select div:hover {
	color: red;
}
div#schema_select .templ {
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

hr#ruler {
	height: 3px;
	border-width: 0;
	color: gray;
	background-color: gray;
	cursor: row-resize;
	z-index: 10000;
	margin: 5px 0;
}
